# user name, email address can go to secure dir
[include]
  path = "~/.gitconfig_secure"
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore_global
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol,space-before-tab
  editor = /usr/bin/vim
  hideDotFiles = dotGitOnly
[alias]
  st = status -s
  pl = pull origin master
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%Creset %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  co = checkout
  br = branch
  ci = commit -a
  clear = reset --hard
[push]
  default = simple
[gui]
  editor = subl
[init]
  templatedir = ~/.git-templates
[merge]
  tool = diffmerge
[mergetool "diffmerge"]
  cmd = diffmerge --merge\n--result=$MERGED $LOCAL $BASE $REMOTE
  trustExitCode = true
[diff]
  tool = diffmerge
[difftool "diffmerge"]
  cmd = "diffmerge \"$LOCAL\" \"$REMOTE\""
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
# Current config will be overriden for any git repository in ~/Work/
[includeif "gitdir:~/Work/"]
  path = .gitconfig-work
